<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Bonjour {{ commande.client.nom_client }},</p>

        <p>Merci pour votre commande numéro <strong>{{ commande.matricule_commande }}</strong> réalisée le {{ commande.date_commande|date:"d/m/Y" }}.</p>

        <p>Vous trouverez ci-joint votre facture. Nous restons à votre disposition.</p>

        <p>— L’équipe OPressing</p>

</body>
</html>