<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <p>Bonjour {{client.nom_client }},</p>

        <p>Nous avons constaté que vous n'etes pas encore venu récuperer vos articles.</p>

        <p>Nous tenons à vous rassurer que votre commande est prete et qu'il est deja possible de la régler,</p>

        <p>Nous esperons que vous passerez la recuperer des que possible</p>

        <p>En vous souhaitant une agréable journée.</p>

        <p>Cordialement</p>

        <p>— L’équipe OPressing</p>
</body>
</html>